@font-face{
  font-family: myFont;
  src: url('./../font/ComicReal-LVGZn.otf');
}
:root{
  --bodyColor:white;
  --contenerColor: rgba(0, 0, 0, 0.637);
  --headerColor: rgba(48, 207, 0, 0.846);
  --mainColor:orange;
  --footerColor: rgba(255, 228, 196, 0.866);
  --DefultTextColor: rgb(255, 255, 255);
  --TextAreabackGround: rgba(255, 228, 196, 0.921);
  --DisplayColor: rgba(135, 207, 235, 0.575);
} 
* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: myFont;
  /* border: 2px solid red; */
}

html {
  width: 100%;
  height:100%;
}
body{
  width:100%;
  min-height:100vh;
  padding-bottom:10px;
  /* padding:2%; */
  background: var(--bodyColor) url("./../img/hindi.svg");
  position: relative;
}
  
#contener{
  width:98%;
  height:100%;
  margin:6px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 2px var(--contenerColor);
}
header{
  width:100%;
  padding:1% 2%;
  background-color: var(--headerColor);
  /* opacity:0.7; */
  border-radius: 10px 10px 0 0;
  
}
header #heading{
  width:40%;
  font-size: 3rem;
  font-weight: 900;
  margin:auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.64);
  border-radius: 10px;
  padding:2%;
}
header #heading p{
  text-transform: uppercase;
  background-image: url("./../img/newspaperBackground.jpg");
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: var(--DefultTextColor);
}
header #heading p a{
  text-decoration: none;
}
header #setting {
  font-size: 1em;
  padding:2%;
  background-color: rgba(0, 0, 0, 0.51);
  /* opacity: 0.5; */
  color:var(--DefultTextColor);
  border-radius: 10px;
}
header #setting div{
  width:98%;
  margin:auto;
  text-align: center;
}
header #setting div button{
  font-size: 1em;
  margin:2%;
  padding:2%;
  text-transform: capitalize;
  border-radius: 10px;
}
header #display{
  font-size: 1em;
  border-radius: 10px;
  background-color: var(--DisplayColor);
  padding:1%;
  /* opacity: 0.5; */
}
header #display div{
  width:90%;
}
header #display label{
  display:inline-block;
  width:60%;
}
header #display input[type="text"]{
  font-size: 1em;
  width:30%;
  max-width:50%;
  text-align: center;
  margin:2% auto;
  padding:3px 3px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 4px 1px black;
  user-select: none;
  pointer-events: none;
  background-color: rgb(245, 245, 245);
}
header #display #total_words{
  color: rgb(138, 43, 226)
}

header #display #not_found_words{
  color: rgb(255, 0, 0);
}

header #display #con_per{
  color: rgb(0, 128, 0);
}

aside{
  position: fixed;
  bottom:5rem;
  right:5rem;
  z-index: 5;
}
aside #convertBtn{
  width:fit-content;
  /* height:5rem; */
  border-radius: 10px;
  border: 4px dashed white;
  padding: 6px 12px;
  font-size: 2rem;
  color:rgb(41, 68, 0);
  background-color:goldenrod;
  box-shadow: 1px 1px 14px 2px black;
  user-select: none;
  -webkit-user-select: none; 
}
main{
  height:60%;
  padding: 5px 1%;
}
main .text-area{
  border-radius: 10px;
  height: 100%;
  margin: 1% auto;
  padding: 0.5% 0.6%;
}
main .text-area .action-btn{
  width: 90%;
  background-color: rgba(218, 165, 32, 0.8);
  border-radius: 10px;
  padding:1.5% 2%;
  margin: 1%;
}
main .text-area .action-btn button{
  font-size: 1.3em;
  padding:1% 2%;
}

/*open Butoon styling start*/
input[type='file']{
  display:none;
}
.openFileLabel{
  display:inline-block;
  background-color: rgba(79, 131, 2, 0.95);
  color:rgb(255, 255, 255);
  width:fit-content;
  padding:6px 12px;
  font-size: 1.2rem;
  border-radius: 8px;
}
.openFileLabel:hover{
  background-color: rgb(255, 255, 255);
  color: rgba(54, 90, 1, 0.95);
}
/*open Butoon styling end*/

main .text-area textarea{
  width:98%;
  height: 30vh;
  border-radius: 10px;
  padding:1em;
  resize: none;
  background-color: rgba(255, 228, 196, 0.9);
  /* height: 100%; */
}
main .input-area{
  background-color: rgba(137, 43, 226, 0.7);
}
main .output-area{
  background-color: rgba(220, 20, 60, 0.8);
}

footer{
  background-color: var(--footerColor);
  /* opacity: 0.9; */
  border-radius: 0 0 10px 10px;
  padding:0.5% 1%;
  
}
footer p{
  text-align: right;
  font-size: 1.2em;
  text-transform:capitalize;
}
/* flex setting start */
header{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-evenly;
  gap:2%;
}
header #setting{
  /* flex: 1 1 30%; */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header #display{
  /* flex: 1 1 25%; */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap:2%;
  background-color: rgba(245, 245, 245, .95);
}

main .text-area{
  flex: 1 1 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap:2%;
}
main .text-area .action-btn{
  /* flex: 0 0 15%; */
}
main .text-area textarea{
  flex: 1 1 40vh;
}
main .text-area .action-btn{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

/* flex setting end */

/* shine animation on button start */
aside #convertBtn {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
aside #convertBtn::after {
  content: "";
  position: absolute;
  top: 0;
  /* left: -75%; */
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
  transform: skewX(-25deg);
}

aside #convertBtn:hover::after {
  animation: shine 1s forwards;
}
@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
/* shine aniamation on button end */


@media only screen and (orientation: portrait){
  header{
    flex-direction: column;
  }
  header #heading{
    font-size: 2.5em;
  }
  header #heading, #setting, #display{
    width:90%;
    margin:1%;
  }
  main {
    flex-direction: column;
  }
  main .text-area .action-btn button{
    font-size: 1em;
    margin: 2% auto;
  }
  aside{
    bottom:3rem;
    right: 2rem;
  }
  aside #convertBtn{
    font-size: 1.5rem;
    /* width :4rem; */
    /* height: 4rem; */
  }
  main .text-area {
    width:98%;
  }
}