@font-face{
  font-family: myFont;
  src: url('./../font/ComicReal-LVGZn.otf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: myFont;
  /* border: 2px solid red; */
}

html,body {
  width: 100%;
}
body{
  width:100%;
  height:100%;
  background: yellow url("./../img/hindi.svg");
}
  
#contener{
  width:95%;
  height:98vh;
  margin:2% auto;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.637);
}
header{
  width:100%;
  padding:2%;
  background-color: rgba(255, 255, 0, 0.887);
  /* opacity:0.7; */
  border-radius: 10px 10px 0 0;
  
}
header #heading{
  width:40%;
  font-size: 4em;
  font-weight: 900;
  margin:auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.64);
  border-radius: 10px;
  padding:2%;
}
header #heading p{
  text-transform: uppercase;
  background-image: url("./../img/newspaperBackground.jpg");
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
}
header #setting {
  font-size: 1.2em;
  padding:2%;
  background-color: rgba(0, 0, 0, 0.51);
  /* opacity: 0.5; */
  color:rgb(255, 255, 255);
  border-radius: 10px;
}
header #setting div{
  width:98%;
  margin:auto;
  text-align: center;
}
header #setting div button{
  font-size: 1em;
  margin:2%;
  padding:1%;
  text-transform: capitalize;
  border-radius: 10px;
}
header #display{
  font-size: 1.3em;
  border-radius: 10px;
  background-color: rgba(135, 207, 235, 0.575);
  padding:2%;
  /* opacity: 0.5; */
}
header #display div{
  width:90%;
}
header #display label{
  display:inline-block;
  width:60%;
}
header #display input[type="text"]{
  width:30%;
  text-align: center;
}

main{
  background-color: rgba(255, 118, 21, 0.866);
  height:80%;
  /* opacity: 0.8; */
}
main #action-btn{
  padding:2%;
}
main #action-btn button{
  padding:1%;
  /* margin:2%; */
  font-size: 100%;
  border-radius: 10px;
  min-width:10%;
  text-transform: uppercase;
  transition: transform .2s ease;
}
main #action-btn button:hover{
  transform: scale(1.2);
}
main #action-btn #pasteBtn {
  background-color: rgba(0, 251, 255, 0.89);
}
main #action-btn #convertBtn {
  background-color: rgba(171, 255, 45, 0.818);
}
main #action-btn #copyBtn {
  background-color: rgba(237, 128, 237, 0.877);
}
main #text-area{
  height:90%;
}
main #text-area textarea{
  resize: none;
  width:48%;
  height:90%;
  border-radius: 10px;
  padding:1em;
  margin: auto;
  background-color: rgba(255, 228, 196, 0.921);
}
footer{
  background-color: rgba(255, 228, 196, 0.866);
  /* opacity: 0.9; */
  border-radius: 0 0 10px 10px;
  padding:1%;
}
footer p{
  text-align: right;
  padding:1%;
  font-size: 1.2em;
  text-transform:capitalize;
}
/* flex setting start */
header{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-evenly;
  gap:2%;
}
header #setting{
  /* flex: 1 1 30%; */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header #display{
  /* flex: 1 1 25%; */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main{
  display: flex;
  flex-direction: column;

}
main #action-btn{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-evenly;
}
main #text-area{
  flex: 1 1 80%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* flex setting end */
/* grid Layout start */


/* Grid Layout End */
@media only screen and (max-width: 1000px){
  header{
    flex-direction: column;
    
  }
  header #heading{
    font-size: 2.5em;
  }
  header #heading, #setting, #display{
    width:90%;
    margin:1%;
  }
  main #text-area{
    flex-direction: column;
  }
  main #text-area textarea{
    width:95%;
    margin: 2% auto;
  }
}